.user {
    padding: 10px 0px 10px 40px;
    grid-area: "u";
}
.item {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
.item:hover {
    background-color: rgb(128, 128, 128);
    border-radius: 10%;
}
.activeLink {
    font-weight: bolder;
    font-size: 25px;
}
.user img {
    width: 30px;
    border-radius: 30%;
    margin: 40px 20px 0px 0px;
}
