.header {
  display: grid;
  grid-template-areas: "label navbar login";
  grid-template-columns: 2fr 8fr 2fr;
}
.app-wrapper-header {
  grid-area: label;
}
.app-wrapper-header {
  grid-area: navbar;
}
.loginBlock {
  grid-area: login;
  padding: 15px;
  padding-right: 40px;
  color: rgb(8, 8, 8);
  font-size: 20px;
}
.loginBlock a {
  text-decoration: none;
  color: black;
}
.header img {
  width: 30px;
  margin-left: 20px;
  
}
.logotext{
  margin-left: 10px;
  font-size: 15px;

}
.item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  padding: 3px;
  margin: 20px;
  border-radius: 5%;
  text-transform: uppercase;
}
.item a:hover{
  background-color: grey;
}
.item{
  margin-top: 15px;
}

.item a.activeLink {
  font-size: 23px;
  font-weight: bolder;
}
