.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}
.item a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.item a.activeLink{
  color: gold;
  font-size: 23px;
}
.settings{
  padding: 20px 0px 0px 0px;
}
.friends{
  padding: 50px 0px 0px 0px;
}