.app-wrapper {
  display: grid;
  margin: 0px auto;
  grid-template-areas:
    "h h h"
    ". c .";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 1200px 1fr;
  min-height: 100vh;
}
.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}
.app-wrapper-header{
  grid-area: h;
  background-color: rgb(131, 107, 107);
}